
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}
body{
    background-color: #412567;
    color: #FFFFFF;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left span{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.nav-middle{
    display: flex;
    gap: 32px;
    font-weight: 500;
    opacity: 0.9;
}
.nav-button{
    width: 135px;
    padding: 12px 16px;
    border-radius: 40px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
}
.hamburger{
    display: none;
}
.banner{
    height: 760px;
    max-width: 1600px;
    border: 1px solid red;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/hero-bg.png);;
}
.banner-info{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-info h1{
    font-weight: 800;
    font-size: 3.7rem;
    margin-bottom: 8px;
}
.banner-info p{
    opacity: 0.8;
}
.banner-img{
    background-repeat: no-repeat;
    
}
.banner-img{
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid red;
    background-image: url(./assets/hero-circle.png);
}
.banner-img>.banner-img1{
    position: absolute;
    top: 25%;
    left: 33%;
}
.new-btn{
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    color: black;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    left: 68%;
    top: 2%;
}
.flex{
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn-container{
    margin-top: 24px;
    gap: 10px;
}
.banner-btn1{
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 20px;
    gap: 8px;
    border-radius: 10000px;
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1)),rgba(145, 0, 248, 1);
}
.banner-btn2{
    padding: 12px 20px;
    gap: 8px;
    border-radius: 10000px;
    border-color: #00FF88;
    background: #00FF88;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
    color: #FFFFFF;
}

.about-container{
    max-width: 1200px;
    height: 647px;
    margin: 50px auto 120px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-container h2{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 16px;
}
.about-container .about-p1{
    text-align: center;
    line-height: 30px;
    opacity: 0.8;

}
.line{
    opacity: 0.1;
    height: 2px;
    border: 1px;
    background: linear-gradient(rgba(255, 255, 255, 1));
}
.about-state-container{
    width: 1200px;
    height: 94px;
    border: 1px solid red;
    justify-content: space-around;
    
}
.about-state>h4{
    font-weight: 900;
    font-size: 48px;
    background: #00FF88;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.about-state>p{
    opacity: 0.8;
}













@media screen and (max-width: 576px) {
    .nav-button{
        display: none;
    }
    .nav-middle{
        display: none;
    }
    .hamburger{
    margin-right: 20px;  
    display: inline;
}


}
    




    

