
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}
body{
    background-color: #412567;
    color: #FFFFFF;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left span{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.nav-middle{
    display: flex;
    gap: 32px;
    font-weight: 500;
    font-size: 1rem;
    opacity: 0.9;
}
.nav-button{
    width: 135px;
    padding: 12px 16px;
    border-radius: 40px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
}
.hamburger{
    display: none;
}












@media screen and (max-width: 576px) {
    .nav-button{
        display: none;
    }
    .nav-middle{
        display: none;
    }
    .hamburger{
    margin-right: 20px;  
    display: inline;
}


}
    




    

