
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}
body{
    background: rgba(26, 11, 46, 1);
    color: #FFFFFF;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left span {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.nav-middle{
    display: flex;
    gap: 32px;
    font-weight: 500;
    opacity: 0.9;
}
.nav-button{
    width: 135px;
    padding: 12px 16px;
    border-radius: 40px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
}
.hamburger{
    display: none;
}
.banner{
    height: 760px;
    max-width: 1600px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/hero-bg.png);
    background-position: center;
}
.banner-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-info h1{
    font-weight: 800;
    font-size: 3.7rem;
    margin-bottom: 8px;
}
.banner-info p{
    opacity: 0.8;
}
.banner-img{
    background-repeat: no-repeat;
    
}
.banner-img{
    position: relative;
    width: 350px;
    height: 350px;
    background-image: url(./assets/hero-circle.png);
}
.banner-img>.banner-img1{
    position: absolute;
    top: 25%;
    left: 33%;
}
.new-btn{
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    color: black;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    left: 68%;
    top: 2%;
}
.flex{
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn-container{
    margin-top: 24px;
    gap: 10px;
}
.banner-btn1{
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 20px;
    gap: 8px;
    border-radius: 10000px;
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1)),rgba(145, 0, 248, 1);
}
.banner-btn2{
    padding: 12px 20px;
    gap: 8px;
    border-radius: 10000px;
    border-color: #00FF88;
    background: #00FF88;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
    color: #FFFFFF;
}

.about-container{
    max-width: 1200px;
    height: 647px;
    margin: 50px auto 120px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-container h2{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 16px;
}
.about-container .about-p1{
    text-align: center;
    line-height: 30px;
    opacity: 0.8;

}


.grid-about{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.about-state, .banner-info>p{
    text-align: center;
}
.about-state>h4{
    font-weight: 900;
    font-size: 48px;
    background: #00FF88;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.about-state>p{
    opacity: 0.8;
}

.techwave{
    background-color: #230E3D;
}
.techwave-grid{
    max-width: 1200px;
    min-height: 600px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color:rgba(53, 17, 101, 0.4);
    gap: 30px;
}
.techwave-header{
    padding-top: 100px;
    font-size: 48px;
    font-weight: 700;
    align-self: center;
    display: flex;
    justify-content: center;

}

.design{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    box-shadow: 0 6px 50px 0 rgba(53, 17, 101, 0.4);
    padding-left: 40px;
    padding-top: 40px;

}
.box-1{
    padding-top: 100px;
    grid-row: 1/span 2;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
   
}
.box-2{
    grid-column: 2/span 2;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 8px;
    padding-top: 30px;
    border-radius: 40px;
}
.box-3{
    grid-column: 2/span 2;
}
.box-4{
    grid-column: 1/span 2;
}

/* Feature Epsode Design */

.card-box{
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.card1, .card2 ,.card3{
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}
.card-padding{
    padding: 24px;
}
.card-container>h2{
    font-weight: 700;
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-self: center;
}

.host-container{
    
}
.host-header{
    font-weight: 600;
    font-size: 2rem;
}
.host-box{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    gap: 24px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);

}
.host-icon{
    display: flex;
    gap: 20px; 
}
.host-icon>img{
    width: 15px;
}

/* Footer-design */

.footer{
    border: 1px solid rgba(128, 128, 128, 0);
       background-image: url(./assets/footer-bg.png);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
    
}
.footer-container{
    max-width: 560px;
    margin: 80px auto;
}

.footer-container>h2>span{
     background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.footer-container>h2{
    font-weight: 700;
    font-size: 3rem;
     display: flex;
    justify-content: center;
    
}
.footer-grid-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    
}
.footer-grid-box>div{
    display: flex;
    gap: 10px;
}
.footer-copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}


    















@media screen and (max-width: 576px) {
    
    .nav-button{
        display: none;
    }
    .nav-middle{
        display: none;
    }
    .hamburger{
    margin-right: 20px;  
    display: inline;
}
.about-container{
    flex-direction: column;
}
.about-container .p2{
    text-align: center;

}
.grid-about{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.techwave-grid{
    width: 90%;
    gap: 15px;
    grid-template-columns: repeat(1,1fr);

}
.box-1{
    grid-column: auto;
}
.box-2{
    grid-column: auto;
}

.box-3{
    gap: 20px;
    grid-column: auto;
}
.box-4{
    grid-column: auto;
    gap: 20px;
}
.box-5{
    grid-column: auto;
}
.card-box{
    width:90%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.host-box{
    width: 90%;
    display: flex;
    flex-direction: column;
   
}

.footer{
    width:100%;
}

.footer-container{
    width: fit-content;
}

.footer-grid-box{
   
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
}


    
}


    




    

